APP/Lib/Service/Control.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<!-- WSDL file generated by Zend Studio. -->

<definitions name="Control" targetNamespace="urn:Control" xmlns:typens="urn:Control" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<message name="query">
		<part name="data" type="xsd:string"/>
		<part name="add" type="xsd:string"/>
	</message>
	<message name="queryResponse">
		<part name="queryReturn" type="xsd:string"/>
	</message>
	
	<message name="autoupdate">
		<part name="url" type="xsd:string"/>
	</message>
	<message name="autoupdateResponse">
		<part name="autoupdateReturn" type="xsd:string"/>
	</message>
	
	<message name="addOrgan">
		<part name="data" type="xsd:string"/>
	</message>
	<message name="addOrganResponse">
		<part name="addOrganReturn" type="xsd:string"/>
	</message>
	
	<message name="updateOrgan">
		<part name="data" type="xsd:string"/>
	</message>
	<message name="updateOrganResponse">
		<part name="updateOrganReturn" type="xsd:string"/>
	</message>

	<message name="delOrgan">
		<part name="data" type="xsd:string"/>
	</message>
	<message name="delOrganResponse">
		<part name="delOrganReturn" type="xsd:string"/>
	</message>
	
	<message name="addDept">
		<part name="data" type="xsd:string"/>
	</message>
	<message name="addDeptResponse">
		<part name="addDeptReturn" type="xsd:string"/>
	</message>
	
	<message name="updateDept">
		<part name="data" type="xsd:string"/>
	</message>
	<message name="updateDeptResponse">
		<part name="updateDeptReturn" type="xsd:string"/>
	</message>
	
	<message name="delDept">
		<part name="data" type="xsd:string"/>
	</message>
	<message name="delDeptResponse">
		<part name="delDeptReturn" type="xsd:string"/>
	</message>		
	
	<message name="addMember">
		<part name="data" type="xsd:string"/>
	</message>
	<message name="addMemberResponse">
		<part name="addMemberReturn" type="xsd:string"/>
	</message>	
	
	<message name="updateMember">
		<part name="data" type="xsd:string"/>
	</message>
	<message name="updateMemberResponse">
		<part name="updateMemberReturn" type="xsd:string"/>
	</message>		

	<message name="delMember">
		<part name="data" type="xsd:string"/>
	</message>
	<message name="delMemberResponse">
		<part name="delMemberReturn" type="xsd:string"/>
	</message>		
	
	<portType name="ControlServicePortType">
		<operation name="query">
			<documentation>
				control
			</documentation>
			<input message="typens:query"/>
			<output message="typens:queryResponse"/>
		</operation>
		
		<operation name="autoupdate">
			<documentation>
				control
			</documentation>
			<input message="typens:autoupdate"/>
			<output message="typens:autoupdateResponse"/>
		</operation>

		<operation name="addOrgan">
			<documentation>
				control
			</documentation>
			<input message="typens:addOrgan"/>
			<output message="typens:addOrganResponse"/>
		</operation>	
		
		<operation name="updateOrgan">
			<documentation>
				control
			</documentation>
			<input message="typens:updateOrgan"/>
			<output message="typens:updateOrganResponse"/>
		</operation>

		<operation name="delOrgan">
			<documentation>
				control
			</documentation>
			<input message="typens:delOrgan"/>
			<output message="typens:delOrganResponse"/>
		</operation>
		
		<operation name="addDept">
			<documentation>
				control
			</documentation>
			<input message="typens:addDept"/>
			<output message="typens:addDeptResponse"/>
		</operation>		

		<operation name="updateDept">
			<documentation>
				control
			</documentation>
			<input message="typens:updateDept"/>
			<output message="typens:updateDeptResponse"/>
		</operation>
		
		<operation name="delDept">
			<documentation>
				control
			</documentation>
			<input message="typens:delDept"/>
			<output message="typens:delDeptResponse"/>
		</operation>					
		
		<operation name="addMember">
			<documentation>
				control
			</documentation>
			<input message="typens:addMember"/>
			<output message="typens:addMemberResponse"/>
		</operation>		
		
		<operation name="updateMember">
			<documentation>
				control
			</documentation>
			<input message="typens:updateMember"/>
			<output message="typens:updateMemberResponse"/>
		</operation>	

		<operation name="delMember">
			<documentation>
				control
			</documentation>
			<input message="typens:delMember"/>
			<output message="typens:delMemberResponse"/>
		</operation>	
		
	</portType>
	<binding name="ControlServiceBinding" type="typens:ControlServicePortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="query">
			<soap:operation soapAction="urn:ControlServiceAction"/>
			<input>
				<soap:body namespace="urn:Control" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:Control" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="autoupdate">
			<soap:operation soapAction="urn:ControlServiceAction"/>
			<input>
				<soap:body namespace="urn:Control" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:Control" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>

		<operation name="addOrgan">
			<soap:operation soapAction="urn:ControlServiceAction"/>
			<input>
				<soap:body namespace="urn:Control" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:Control" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="updateOrgan">
			<soap:operation soapAction="urn:ControlServiceAction"/>
			<input>
				<soap:body namespace="urn:Control" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:Control" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="delOrgan">
			<soap:operation soapAction="urn:ControlServiceAction"/>
			<input>
				<soap:body namespace="urn:Control" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:Control" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="addDept">
			<soap:operation soapAction="urn:ControlServiceAction"/>
			<input>
				<soap:body namespace="urn:Control" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:Control" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="updateDept">
			<soap:operation soapAction="urn:ControlServiceAction"/>
			<input>
				<soap:body namespace="urn:Control" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:Control" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="delDept">
			<soap:operation soapAction="urn:ControlServiceAction"/>
			<input>
				<soap:body namespace="urn:Control" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:Control" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>		
		
		<operation name="addMember">
			<soap:operation soapAction="urn:ControlServiceAction"/>
			<input>
				<soap:body namespace="urn:Control" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:Control" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="updateMember">
			<soap:operation soapAction="urn:ControlServiceAction"/>
			<input>
				<soap:body namespace="urn:Control" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:Control" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="delMember">
			<soap:operation soapAction="urn:ControlServiceAction"/>
			<input>
				<soap:body namespace="urn:Control" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:Control" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>		
		
	</binding>
	<service name="ControlService">
		<port name="ControlServicePort" binding="typens:ControlServiceBinding">
			<soap:address location="http://www.wuliucheng.com:8888/APP/BillsService.php"/>
		</port>
	</service>
</definitions>
